.btn.btn-light-primary {
    color: #009ef7;
    border-color: #92caeb;
    background-color: #ecf8ff;
}

.btn.btn-light-primary i {
    color: #009ef7;
}

.btn.btn-light-primary .svg-icon svg [fill]:not(.permanent):not(g) {
    transition: fill .3s ease;
    fill: #009ef7;
}

.btn.btn-light-primary .svg-icon svg:hover [fill]:not(.permanent):not(g) {
    transition: fill .3s ease;
}

.btn.btn-light-primary.dropdown-toggle:after {
    color: #009ef7;
}

.btn-check:active+.btn.btn-light-primary,
.btn-check:checked+.btn.btn-light-primary,
.btn.btn-light-primary.active,
.btn.btn-light-primary.show,
.btn.btn-light-primary:active:not(.btn-active),
.btn.btn-light-primary:focus:not(.btn-active),
.btn.btn-light-primary:hover:not(.btn-active),
.show>.btn.btn-light-primary {
    color: #fff;
    border-color: #009ef7;
    background-color: #009ef7;
}

.btn-check:active+.btn.btn-light-primary i,
.btn-check:checked+.btn.btn-light-primary i,
.btn.btn-light-primary.active i,
.btn.btn-light-primary.show i,
.btn.btn-light-primary:active:not(.btn-active) i,
.btn.btn-light-primary:focus:not(.btn-active) i,
.btn.btn-light-primary:hover:not(.btn-active) i,
.show>.btn.btn-light-primary i {
    color: #fff;
}

.btn-check:active+.btn.btn-light-primary .svg-icon svg [fill]:not(.permanent):not(g),
.btn-check:checked+.btn.btn-light-primary .svg-icon svg [fill]:not(.permanent):not(g),
.btn.btn-light-primary.active .svg-icon svg [fill]:not(.permanent):not(g),
.btn.btn-light-primary.show .svg-icon svg [fill]:not(.permanent):not(g),
.btn.btn-light-primary:active:not(.btn-active) .svg-icon svg [fill]:not(.permanent):not(g),
.btn.btn-light-primary:focus:not(.btn-active) .svg-icon svg [fill]:not(.permanent):not(g),
.btn.btn-light-primary:hover:not(.btn-active) .svg-icon svg [fill]:not(.permanent):not(g),
.show>.btn.btn-light-primary .svg-icon svg [fill]:not(.permanent):not(g) {
    transition: fill .3s ease;
    fill: #fff;
}

.btn-check:active+.btn.btn-light-primary .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn-check:checked+.btn.btn-light-primary .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn.btn-light-primary.active .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn.btn-light-primary.show .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn.btn-light-primary:active:not(.btn-active) .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn.btn-light-primary:focus:not(.btn-active) .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn.btn-light-primary:hover:not(.btn-active) .svg-icon svg:hover [fill]:not(.permanent):not(g),
.show>.btn.btn-light-primary .svg-icon svg:hover [fill]:not(.permanent):not(g) {
    transition: fill .3s ease;
}

.btn-check:active+.btn.btn-light-primary.dropdown-toggle:after,
.btn-check:checked+.btn.btn-light-primary.dropdown-toggle:after,
.btn.btn-light-primary.active.dropdown-toggle:after,
.btn.btn-light-primary.show.dropdown-toggle:after,
.btn.btn-light-primary:active:not(.btn-active).dropdown-toggle:after,
.btn.btn-light-primary:focus:not(.btn-active).dropdown-toggle:after,
.btn.btn-light-primary:hover:not(.btn-active).dropdown-toggle:after,
.show>.btn.btn-light-primary.dropdown-toggle:after {
    color: #fff;
}

.btn.btn-bg-light {
    border-color: #f5f8fa;
    background-color: #f5f8fa;
}

.btn-check:active+.btn.btn-active-color-primary,
.btn-check:checked+.btn.btn-active-color-primary,
.btn.btn-active-color-primary.active,
.btn.btn-active-color-primary.show,
.btn.btn-active-color-primary:active:not(.btn-active),
.btn.btn-active-color-primary:focus:not(.btn-active),
.btn.btn-active-color-primary:hover:not(.btn-active),
.show>.btn.btn-active-color-primary {
    color: #009ef7;
}

.btn-check:active+.btn.btn-active-color-primary i,
.btn-check:checked+.btn.btn-active-color-primary i,
.btn.btn-active-color-primary.active i,
.btn.btn-active-color-primary.show i,
.btn.btn-active-color-primary:active:not(.btn-active) i,
.btn.btn-active-color-primary:focus:not(.btn-active) i,
.btn.btn-active-color-primary:hover:not(.btn-active) i,
.show>.btn.btn-active-color-primary i {
    color: #009ef7;
}

.btn-check:active+.btn.btn-active-color-primary .svg-icon svg [fill]:not(.permanent):not(g),
.btn-check:checked+.btn.btn-active-color-primary .svg-icon svg [fill]:not(.permanent):not(g),
.btn.btn-active-color-primary.active .svg-icon svg [fill]:not(.permanent):not(g),
.btn.btn-active-color-primary.show .svg-icon svg [fill]:not(.permanent):not(g),
.btn.btn-active-color-primary:active:not(.btn-active) .svg-icon svg [fill]:not(.permanent):not(g),
.btn.btn-active-color-primary:focus:not(.btn-active) .svg-icon svg [fill]:not(.permanent):not(g),
.btn.btn-active-color-primary:hover:not(.btn-active) .svg-icon svg [fill]:not(.permanent):not(g),
.show>.btn.btn-active-color-primary .svg-icon svg [fill]:not(.permanent):not(g) {
    transition: fill .3s ease;
    fill: #009ef7;
}

.btn-check:active+.btn.btn-active-color-primary .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn-check:checked+.btn.btn-active-color-primary .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn.btn-active-color-primary.active .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn.btn-active-color-primary.show .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn.btn-active-color-primary:active:not(.btn-active) .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn.btn-active-color-primary:focus:not(.btn-active) .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn.btn-active-color-primary:hover:not(.btn-active) .svg-icon svg:hover [fill]:not(.permanent):not(g),
.show>.btn.btn-active-color-primary .svg-icon svg:hover [fill]:not(.permanent):not(g) {
    transition: fill .3s ease;
}

.btn-check:active+.btn.btn-active-color-primary.dropdown-toggle:after,
.btn-check:checked+.btn.btn-active-color-primary.dropdown-toggle:after,
.btn.btn-active-color-primary.active.dropdown-toggle:after,
.btn.btn-active-color-primary.show.dropdown-toggle:after,
.btn.btn-active-color-primary:active:not(.btn-active).dropdown-toggle:after,
.btn.btn-active-color-primary:focus:not(.btn-active).dropdown-toggle:after,
.btn.btn-active-color-primary:hover:not(.btn-active).dropdown-toggle:after,
.show>.btn.btn-active-color-primary.dropdown-toggle:after {
    color: #009ef7;
}


/* Export buttons */

.dt-buttons .btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.dt-buttons .btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.btn-check:active+.btn.btn-active-light-primary,
.btn-check:checked+.btn.btn-active-light-primary,
.btn.btn-active-light-primary.active,
.btn.btn-active-light-primary.show,
.btn.btn-active-light-primary:active:not(.btn-active),
.btn.btn-active-light-primary:focus:not(.btn-active),
.btn.btn-active-light-primary:hover:not(.btn-active),
.show>.btn.btn-active-light-primary {
    color: #009ef7;
    border-color: #ecf8ff;
    background-color: #ecf8ff;
}

.btn-check:active+.btn.btn-active-light-primary i,
.btn-check:checked+.btn.btn-active-light-primary i,
.btn.btn-active-light-primary.active i,
.btn.btn-active-light-primary.show i,
.btn.btn-active-light-primary:active:not(.btn-active) i,
.btn.btn-active-light-primary:focus:not(.btn-active) i,
.btn.btn-active-light-primary:hover:not(.btn-active) i,
.show>.btn.btn-active-light-primary i {
    color: #009ef7;
}

.btn-check:active+.btn.btn-active-light-primary .svg-icon svg [fill]:not(.permanent):not(g),
.btn-check:checked+.btn.btn-active-light-primary .svg-icon svg [fill]:not(.permanent):not(g),
.btn.btn-active-light-primary.active .svg-icon svg [fill]:not(.permanent):not(g),
.btn.btn-active-light-primary.show .svg-icon svg [fill]:not(.permanent):not(g),
.btn.btn-active-light-primary:active:not(.btn-active) .svg-icon svg [fill]:not(.permanent):not(g),
.btn.btn-active-light-primary:focus:not(.btn-active) .svg-icon svg [fill]:not(.permanent):not(g),
.btn.btn-active-light-primary:hover:not(.btn-active) .svg-icon svg [fill]:not(.permanent):not(g),
.show>.btn.btn-active-light-primary .svg-icon svg [fill]:not(.permanent):not(g) {
    transition: fill .3s ease;
    fill: #009ef7;
}

.btn-check:active+.btn.btn-active-light-primary .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn-check:checked+.btn.btn-active-light-primary .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn.btn-active-light-primary.active .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn.btn-active-light-primary.show .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn.btn-active-light-primary:active:not(.btn-active) .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn.btn-active-light-primary:focus:not(.btn-active) .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn.btn-active-light-primary:hover:not(.btn-active) .svg-icon svg:hover [fill]:not(.permanent):not(g),
.show>.btn.btn-active-light-primary .svg-icon svg:hover [fill]:not(.permanent):not(g) {
    transition: fill .3s ease;
}

.btn-check:active+.btn.btn-active-light-primary.dropdown-toggle:after,
.btn-check:checked+.btn.btn-active-light-primary.dropdown-toggle:after,
.btn.btn-active-light-primary.active.dropdown-toggle:after,
.btn.btn-active-light-primary.show.dropdown-toggle:after,
.btn.btn-active-light-primary:active:not(.btn-active).dropdown-toggle:after,
.btn.btn-active-light-primary:focus:not(.btn-active).dropdown-toggle:after,
.btn.btn-active-light-primary:hover:not(.btn-active).dropdown-toggle:after,
.show>.btn.btn-active-light-primary.dropdown-toggle:after {
    color: #009ef7;
}

.btn.btn-active-light-primary.btn-outline:not(.btn-outline-default) {
    border-color: #009ef7!important;
}

.btn-check:active+.btn.btn-active-primary,
.btn-check:checked+.btn.btn-active-primary,
.btn.btn-active-primary.active,
.btn.btn-active-primary.show,
.btn.btn-active-primary:active:not(.btn-active),
.btn.btn-active-primary:focus:not(.btn-active),
.btn.btn-active-primary:hover:not(.btn-active),
.show>.btn.btn-active-primary {
    color: #fff;
    border-color: #009ef7;
    background-color: #009ef7;
}

.btn-check:active+.btn.btn-active-primary i,
.btn-check:checked+.btn.btn-active-primary i,
.btn.btn-active-primary.active i,
.btn.btn-active-primary.show i,
.btn.btn-active-primary:active:not(.btn-active) i,
.btn.btn-active-primary:focus:not(.btn-active) i,
.btn.btn-active-primary:hover:not(.btn-active) i,
.show>.btn.btn-active-primary i {
    color: #fff;
}

.btn-check:active+.btn.btn-active-primary .svg-icon svg [fill]:not(.permanent):not(g),
.btn-check:checked+.btn.btn-active-primary .svg-icon svg [fill]:not(.permanent):not(g),
.btn.btn-active-primary.active .svg-icon svg [fill]:not(.permanent):not(g),
.btn.btn-active-primary.show .svg-icon svg [fill]:not(.permanent):not(g),
.btn.btn-active-primary:active:not(.btn-active) .svg-icon svg [fill]:not(.permanent):not(g),
.btn.btn-active-primary:focus:not(.btn-active) .svg-icon svg [fill]:not(.permanent):not(g),
.btn.btn-active-primary:hover:not(.btn-active) .svg-icon svg [fill]:not(.permanent):not(g),
.show>.btn.btn-active-primary .svg-icon svg [fill]:not(.permanent):not(g) {
    transition: fill .3s ease;
    fill: #fff;
}

.btn-check:active+.btn.btn-active-primary .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn-check:checked+.btn.btn-active-primary .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn.btn-active-primary.active .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn.btn-active-primary.show .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn.btn-active-primary:active:not(.btn-active) .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn.btn-active-primary:focus:not(.btn-active) .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn.btn-active-primary:hover:not(.btn-active) .svg-icon svg:hover [fill]:not(.permanent):not(g),
.show>.btn.btn-active-primary .svg-icon svg:hover [fill]:not(.permanent):not(g) {
    transition: fill .3s ease;
}

.btn-check:active+.btn.btn-active-primary.dropdown-toggle:after,
.btn-check:checked+.btn.btn-active-primary.dropdown-toggle:after,
.btn.btn-active-primary.active.dropdown-toggle:after,
.btn.btn-active-primary.show.dropdown-toggle:after,
.btn.btn-active-primary:active:not(.btn-active).dropdown-toggle:after,
.btn.btn-active-primary:focus:not(.btn-active).dropdown-toggle:after,
.btn.btn-active-primary:hover:not(.btn-active).dropdown-toggle:after,
.show>.btn.btn-active-primary.dropdown-toggle:after {
    color: #fff;
}


/* Export buttons */