    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-white shadow-sm">

        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3 text-primary h2" href="{% url 'home' %}"><i class="fa-solid fa-route me-1" style="color: #FF4F12"></i>CallRoute<sup class="ms-1" style="color: #7800FF">RT-2023</sup></a>

        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars fa-xl"></i></button>

        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <!-- <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
            </div> -->
        </form>


        {% load i18n %}
        {% load static %}
        <div class="dropdown me-3">
            <form method="POST" action="{% url 'selectlanguage' %}">
                {% csrf_token %}
                <select class="form-control form-control-sm" name="language" onchange="submit()">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                    <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                        <span> <img class="transicon rounded" src="{% static 'main/' %}/svg/russia.svg"> {{ language.name_local }} ({{language.code }})</span>
                    </option>
                    {% endfor %}
                </select>
            </form>
        </div>


        {% load users_extras %}
        <!-- Navbar News-->


        <a class="btn btn-light-info btn-sm position-relative fw-bolder shadow" href="{% url 'srch_auto' %}">
            News
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                3+
                <span class="visually-hidden">unread messages</span>
            </span>
        </a>

        <!-- Navbar Profile-->
            {% if request.user.is_authenticated %}
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <div class="topbar-divider d-none d-sm-block"></div>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><span class="d-none d-lg-inline text-muted small me-1">{% if request.user.id %} {{ request.user.username }} {% endif %}</span><i class="fas fa-user fa-fw"></i></a>
                    <!-- <small class="text-muted">{{ request.user.username }}</small> -->
                    <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'profile' %}"><i class="fas fa-user fa-sm fa-fw me-2 profile-icon"></i><span class="text-muted">Profile</span></a></li>
                        <li><a class="dropdown-item" href="{% url 'favorite_news' %}"><i class="fa-solid fa-bookmark fa-sm fa-fw me-2 profile-icon"></i><span class="text-muted">My news</span></a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li>
                            <a href="{% url 'logout' %}" class="dropdown-item"><i class="fas fa-sign-out-alt fa-sm fa-fw me-2 profile-icon"></i><span class="text-muted">Logout</span></a>
                            <!-- <form action="" method="POST">
                                <button type="submit" name="logout_btn" class="dropdown-item"><i class="fas fa-sign-out-alt fa-sm fa-fw me-2 profile-icon"></i><span class="text-muted">Logout</span></button>
                            </form> -->
                        </li>
                    </ul>
                </li>
            </ul>
            {% else %}
            <div class="topbar-divider d-none d-sm-block"></div>
            <a class="btn btn-light-primary btn-sm position-relative fw-bolder shadow text-center me-3 me-lg-4" href="{% url 'login' %}">Login</a>

            {% endif %}
    </nav>