{% load static %}

{% include 'main/header.html' %}
<body class="sb-nav-fixed">
    {% include 'main/navbar-top.html' %}
        <div id="layoutSidenav">
            {% include 'main/sidebar.html' %}
            <div id="layoutSidenav_content">
                <main>
                    <!-- Write your web page content here -->
                    <div class="container-fluid px-4">
                        <div class="row rounded">
                            <div class="col-lg-3 col-md-6 pb-md-3 pb-sm-4">
                                <img class="transicon rounded" src="{% static 'main/' %}/svg/russia.svg">
                                <img class="transicon rounded" src="{% static 'main/' %}/svg/united-states.svg">
                                <div class="select">
                                    <form method="POST" action="{% url 'selectlanguage' %}" >
                                        {% csrf_token %}
                                        <select name="language" onchange="submit()">
                                            {% get_current_language as LANGUAGE_CODE %}
                                            {% get_available_languages as LANGUAGES %}
                                            {% get_language_info_list for LANGUAGES as languages %}
                                            {% for language in languages %}
                                            <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                                                <i class="fa-solid fa-table me-1"></i>> {{ language.name_local }} ({{language.code }})
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </form>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 pb-md-3 pb-sm-4">
                                <form method="POST" action="{% url 'selectlanguage' %}">
                                    {% csrf_token %}
                                    <div class="dropdown" name="language">
                                        <span class="dropdown-toggle" href="#" id="DropdownLang" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <img class="transicon rounded" src="{% static 'main/' %}/svg/russia.svg"> Kingdom
                                        </span>
                                        <ul class="dropdown-menu" aria-labelledby="DropdownLang" >
                                            <li>
                                                <a class="dropdown-item text-center align-items-center" type="submit"><img class="transicon rounded me-1" src="{% static 'main/' %}/svg/united-states.svg">English</a>
                                            </li>


                                            <li>
                                                <a class="dropdown-item" href="#"><img class="transicon rounded" src="{% static 'main/' %}/svg/russia.svg">Russian</a>
                                            </li>
                                        </ul>
                                    </div>
                                </form>
                                <select class="selectpicker" data-width="fit">
                                    <option >English</option>
                                  <option  >Español</option>
                                </select>

                                {% if request.user.is_authenticated == False %}
                                    <p>ID:</p>
                                    <p>{{ request.user.id }}</p>
                                    <p>{{ request.user.is_authenticated }}</p>
                                {% endif %}

                            </div>
                        </div>
                        <div class="row rounded shadow-sm my-3" style="background-color: #f8f9fc;">
                            <div class="col-12">
                                <div class="d-flex justify-content-end my-2 me-3">
                                    <form action="" method="POST">
                                        {% csrf_token %}
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <button type="submit" name="" class="btn btn-light-primary btn-sm float-end border">
                                                    <i class="fa-solid fa-plus me-1"></i>Add news
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-4 mx-3 gx-4 d-flex align-items-stretch">
                            {% for n in news %}
                            <div class="col-lg-3 col-md-6 pb-md-3 pb-sm-4">
                                <div class="card shadow hoverable index-card-custom rounded border-1 border-left-{{n.state}}">
                                    <div class="card-header">
                                        <span class="text-{{n.state}} fw-bold"><i class="fa-solid fa-newspaper me-1"></i>{{ n.title }}</span>
                                    </div>
                                    <div class="card-body text-muted">
                                        <div class="d-flex flex-column">
                                            <!-- <div class="pb-3"> -->
                                                <p>{{ n.text }}</p>
                                                <a href="/news/{{ forloop.counter }}" class="stretched-link"></a>
                                            <!-- </div> -->
                                        </div>
                                    </div>
                                    <div class="card-footer small text-muted text-end">
                                        <span>Updated {{ n.date }} by {{ n.author }}</span>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </main>

{% include 'main/footer.html' %}
{% include 'main/scripts.html' %}

</body>

</html>