        {% load static %}

        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script> -->
        <script src="{% static 'main/' %}js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'main/' %}js/scripts.js"></script>
        <script src="{% static 'main/' %}js/jquery-3.6.0.min.js"></script>

        <!-- Charts Example-->
        <script src="{% static 'main/' %}js/index-cards/index-chart-bar.js"></script>
        <script src="{% static 'main/' %}js/index-cards/index-chart-line.js"></script>
        <!-- Charts Example-->

        <!-- Bootstrap Select Plugin -->
        <script src="{% static 'main/' %}js/bootstrap-select.min.js"></script>
        <!-- Bootstrap Select Plugin -->

        <!-- begin::Bootstrap DataTables -->
        <!-- Не нужны -->
        <!--         <script src="https://code.jquery.com/jquery-3.7.0.js"></script> -->
        <!--         <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script> -->
        <!--         <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script> -->
<!--         <script src="{% static 'main/' %}js/datatables/simple-datatables.js"></script> -->
        <!-- end::Bootstrap DataTables -->

        <!-- begin::HTML5 export buttons -->
        <script src="{% static 'main/' %}js/datatables/datatables.min.js"></script>
        <script src="{% static 'main/' %}js/datatables/pdfmake.min.js"></script>
        <script src="{% static 'main/' %}js/datatables/vfs_fonts.js"></script>
        <script src="{% static 'main/' %}js/datatables/custom.js"></script>

        <!-- end::HTML5 export buttons -->

         <script>

         </script>
         <script>
//              window.addEventListener('DOMContentLoaded', event => {
//                 // Simple-DataTables
//                 // https://github.com/fiduswriter/Simple-DataTables/wiki
//
//                 const datatablesSimple = document.getElementById('datatablesSimple2');
//                 if (datatablesSimple) {
//                     new simpleDatatables.DataTable(datatablesSimple);
//                 }
//             });

        </script>

        <script>
           /*  $(document).ready(function() {
            $('#datatablesSimple2').DataTable( {
                dom: 'Bfrtip',
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ]
            } );
            } ); */
        </script>