<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu"> <!-- overflow-hidden -->
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Core</div>
                <a class="nav-link" href="/dashboard/" {% if request.path == '/dashboard/' %} class="link-active" aria-current="page" {% endif %}>
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>
                <a class="nav-link link-active" href="{% url 'calldetail_index' %}">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-route"></i></div>
                    Call Route
                </a>

                <hr class="sidebar-divider mb-1">

                <div class="sb-sidenav-menu-heading">Interface</div>
                <a class="nav-link collapsed" href="{% url 'icmitems_index' %}" data-bs-toggle="collapse" data-bs-target="#collapseItems" aria-expanded="false" aria-controls="collapseItems">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    ICM Items
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseItems" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="#">Agent</a>
                        <a class="nav-link" href="#">Superviser</a>
                        <a class="nav-link" href="#">AgentTeam</a>
                        <a class="nav-link" href="#">SkillGroup</a>
                        <a class="nav-link" href="#" title="Очередь приоритетов">QueuePriority</a>
                        <a class="nav-link" href="#">CallType</a>
                    </nav>
                </div>
                <hr class="sidebar-divider mb-1">
                <div class="sb-sidenav-menu-heading">IVR</div>
                <a class="nav-link" href="#">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                    Post Call Survey
                </a>

                <hr class="sidebar-divider mb-1">

                <div class="sb-sidenav-menu-heading">Tables</div>
                <a class="nav-link {% if request.path == '/reports/' %} link-active {% endif %}"  href="/reports/" >
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Reports
                </a>

                <hr class="sidebar-divider mb-1">

                <div class="sb-sidenav-menu-heading">Admin panel</div>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseAdminPanel" aria-expanded="false" aria-controls="collapseAdminPanel">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-screwdriver-wrench"></i></div>
                    Administration
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseAdminPanel" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="/users/">Users</a>
                        <a class="nav-link" href="#">Telegram</a>
                    </nav>
                </div>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <a href="/faq/" class="btn btn-primary w-100 " data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-delay-show="8000" title="Check out FAQ">
                <span class="btn-label">FAQ</span>
                <i class="fa-solid fa-circle-question"></i>
            </a>
            <span class="text-white">
            </span>
        </div>
    </nav>
</div>