{% load static %}
{% load crispy_forms_tags %}

{% include 'main/header.html' %}
<body class="sb-nav-fixed">
    {% include 'main/navbar-top.html' %}
        <div id="layoutSidenav">
            {% include 'main/sidebar.html' %}
            <div id="layoutSidenav_content">
                <main>
                    <!-- Write your web page content here -->
                    <div class="container-fluid px-4">
                        <div class="card shadow border-0 mb-4 mt-4">
                            <div class="card-header bg-white border-bottom-0 p-2 m-2">
                                <div class="d-flex justify-content-between align-items-center">
                                    <!-- <h3 class="card-title align-items-start flex-column">
													<span class="card-label fw-bolder fs-3 mb-1">Members Statistics</span>
													<span class="text-muted mt-1 fw-bold fs-7">Over 500 members</span>
												</h3> -->
                                    <div class="d-flex align-items-start flex-column">
                                        <!-- <h5 class="m-0 fw-bold text-primary"><i class="fa-solid fa-users me-1"></i>Users</h5> -->
                                        <span class="card-label fw-bolder fs-5"><i class="fa-solid fa-users me-1"></i>Users</span>
                                        <span class="text-muted mt-1 fw-bold">Over {{ user_list|length }} members</span>
                                    </div>
                                    <div>
                                        <button href="#" type="button" class="btn btn-light-primary btn-sm shadow fw-bolder" data-bs-toggle="modal" data-bs-target="#modalLarge"><i class="fa-solid fa-user-plus me-1"></i>Add user</button>
                                    </div>
                                    <div class="modal fade" id="modalLarge" tabindex="-1" aria-labelledby="modalLargeTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="modalLargeTitle">Modal title</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form method="POST">
                                                        {% csrf_token %}
                                                        {{ form|crispy }}
                                                        <input type="submit" class="btn btn-primary" value="Save">
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary">Save</button>
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                {{ request.path  }}
                                {{ request.resolver_match.view_name }}
                                {% if request.resolver_match.view_name  == 'registration' %}
                                {% endif %}
                                {% if request.path == '/users/' %}
                                    {{ request.path  }}
                                {% endif %}
                                <div class="data_table">
                                    <table id="example" class="table  table-row-dashed align-middle">
                                        <thead class="fw-bolder text-muted">
                                            <tr>
                                                <th>Id</th>
                                                <th>Login</th>
                                                <th>First name</th>
                                                <th>Last name</th>
                                                <th>Nickname</th>
                                                <th>Email</th>
                                                <th>Enabled</th>
                                                <th>DateStamp</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- begin: Import users -->
                                            {% for user_profile in user_list %}
                                            <tr>
                                                <td>{{ user_profile.id }}</td>
                                                <td>{{ user_profile }}</td>
                                                <td>{{ user_profile.first_name }}</td>
                                                <td>{{ user_profile.last_name }}</td>
                                                <td>{{ user_profile.account.nickname }}</td>
                                                <!-- <td><a class="badge rounded-pill bg-primary">Primary</a></td> -->
                                                <td>{{ user_profile.email }}</td>
                                                <td><div class="form-check form-switch">
                                                      <input type="checkbox" class="form-check-input bg-success" id="switchDisabled2" {%  if user_profile.is_staff %} checked {% endif %} disabled="">
                                                      <label class="form-check-label" for="switchDisabled2"></label>
                                                    </div>
                                                </td>
                                                <td>{{ user_profile.account.birthdate }}</td>
                                                <td>
                                                    <div class="d-flex justify-content-around">
                                                        <a href="edit-user" class="btn btn-icon btn-bg-light btn-active-color-primary rounded" title="Edit">
                                                            <i class="bi bi-pencil-square"></i>
                                                        </a>
                                                        <button class="btn btn-icon btn-bg-light btn-active-color-primary rounded" title="Delete">
                                                                <i class="bi bi-trash"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                             <!-- end: Import users -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>

{% include 'main/footer.html' %}

{% load static %}

        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script> -->
        <script src="{% static 'main/' %}js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'main/' %}js/scripts.js"></script>

        <!-- begin::Для работы с DataTables -->
        {% if request.resolver_match.view_name  == 'datatables' %}
            <script src="{% static 'main/' %}js/jquery-3.6.0.min.js"></script>
        {% endif %}
        <!-- end::Для работы с DataTables -->

        <!-- Charts -->
            <!-- Charts IndexCards-->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
            <script src="{% static 'main/' %}js/index-cards/index-chart-bar.js"></script>
            <script src="{% static 'main/' %}js/index-cards/index-chart-line.js"></script>
            <script src="{% static 'main/' %}js/calldetail/chart-pie-agent.js"></script>
            <!-- Charts IndexCards-->

            <!-- Charts Dashboard-->
            <!-- <script src="{% static 'main/' %}js/dashboard/chart-line-stbar-mixed.js"></script> -->
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script src="{% static 'main/' %}js/dashboard/chart-line.js"></script>
            <script src="{% static 'main/' %}js/dashboard/chart-line-fill.js"></script>
            <!-- Charts Dashboard-->
        <!-- Charts -->

        <!-- Bootstrap Select Plugin -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
        <!-- <script src="{% static 'main/' %}js/bootstrap-select.min.js"></script> -->
        <!-- Bootstrap Select Plugin -->

        <!-- begin::Bootstrap DataTables -->
        <script src="{% static 'main/' %}js/datatables/datatables.min.js"></script>
        <!-- end::Bootstrap DataTables -->

        <!-- begin::HTML5 export buttons -->
        <!--<script src="{% static 'main/' %}js/datatables/datatables.min.js"></script> -->

        <script src="{% static 'main/' %}js/datatables/pdfmake.min.js"></script>
        <script src="{% static 'main/' %}js/datatables/vfs_fonts.js"></script>
        <script src="{% static 'main/' %}js/datatables/custom.js"></script>
        <!-- end::HTML5 export buttons -->

        <!-- begin::jQuery !-->
        <!-- Конфликт с DataTables !-->
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"> </script> -->
        <!-- end::jQuery !-->

        <!-- begin::jQuery UI !-->

        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

        <!-- end::jQuery UI !-->


</body>

</html>