{% load static %}
{% load crispy_forms_tags %}

{% include 'main/header.html' %}

    <body class="vh-100" style="background-color: #508bfc;">
        <main>
            <div class="container">
                <div class="d-flex flex-column justify-content-center align-items-center vh-100">
                    <div class="alert alert-dismissible alert-secondary fade show text-muted" role="alert">
                        logopass_admin:
                                    Admin:12345678
                        <br>
                        logopass_demouser:
                                    DemoUser:12345678Aa
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div class="card shadow-lg border-0 rounded-lg w-50">
                        <div class="card-header"><h3 class="text-center font-weight-light my-4">Sign In</h3></div>
                        <div class="card-body">
                            <form action="#" method="POST">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                    <div class="form-check mb-3">
                                        <input class="form-check-input" id="inputRememberPassword" type="checkbox" value=""/>
                                        <label class="form-check-label" for="inputRememberPassword">Remember me</label>
                                    </div>
                                    <!-- <button class="btn btn-primary" type="submit" name="login_btn">Login</button> -->
                                    <input type="submit" class="btn btn-primary" value="Login">
                                </div>
                                <!--  -->
                            </form>
                        </div>
                        <div class="card-footer text-center py-3">
                            <div class="small"><a href="{% url 'register' %}">Need an account? Register</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {% include 'main/scripts.html' %}
    </body>
</html>
