{% load static %}

{% include 'main/header.html' %}
<body class="sb-nav-fixed">
    {% include 'main/navbar-top.html' %}
        <div id="layoutSidenav">
            {% include 'main/sidebar.html' %}
            <div id="layoutSidenav_content">
                <main>
                    <!-- Write your web page content here -->
                    <div class="container-fluid px-4">

                        <div class="row rounded shadow-sm my-3" style="background-color: #f8f9fc;">
                            <div class="col-12">
                                <div class="d-flex justify-content-end my-2 me-3">
                                    <form method="POST">
                                        {% csrf_token %}
                                        <div class="row align-items-center">
                                            <div class="col-xl-3 col-md-3 col-sm-4 pb-sm-2">
                                                <div class="input-group ">
                                                    <span class="input-group-text bg-primary" id="inputDateHelp">
                                                        <i class="fa-solid fa-calendar-day text-white"></i>
                                                    </span>
                                                    <input type="date" class="form-control" placeholder="" id="inputDate" name="CRT_Date" aria-describedby="inputDateHelp" value="" required>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-md-3 col-sm-4 pb-sm-2">
                                                <div class="input-group ">
                                                    <span class="input-group-text bg-primary" id="inputANIHelp">
                                                        <i class="bi bi-telephone-forward text-white"></i>
                                                    </span>
                                                    <input type="text" class="form-control" placeholder="ANI" id="inputANI" name="CRT_ANI" aria-describedby="inputANIHelp" value="" required>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-md-2 col-sm-4 pb-sm-2">
                                                <div class="input-group ">
                                                    <span class="input-group-text bg-primary" id="inputExtensionHelp">
                                                        <i class="fa-solid fa-headset text-white"></i>
                                                    </span>
                                                    <input type="text" class="form-control" placeholder="Extension" id="inputExtension" name="CRT_Extension" aria-describedby="inputExtensionHelp" value="" required>
                                                </div>
                                            </div>
                                            <div class="col-xl-1 col-md-1 col-sm-4">
                                                <div class="form-check form-switch text-secondary">
                                                    <input type="checkbox" class="form-check-input" id="switchCDR">
                                                    <label class="form-check-label" for="switchCDR">CDR</label>
                                                </div>
                                            </div>
                                            <div class="col-xl-1 col-md-1 col-sm-4">
                                                <div class="form-check form-switch text-danger">
                                                    <input type="checkbox" class="form-check-input" id="switchIVR">
                                                    <label class="form-check-label" for="switchIVR"><strong>IVR</strong></label>
                                                </div>
                                            </div>
                                            <div class="col-xl-1 col-md-1 col-sm-4">
                                                <button type="submit" name="find_callroute_btn" class="btn btn-primary">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- Table of CallDetail -->
                        <div class="row">
                            <!-- <div class="col-12">
                                <div class="card shadow-sm">
                                    <div class="card-header card-header-custom">
                                        <span class="text-muted fw-bolder"><i class="fa-solid fa-route me-1 text-danger"></i>CallRoute</span>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table  class="table align-middle mb-0 bg-white table-row-solid table-responsive table-hover">
                                                <thead>
                                                    <tr>
                                                        <th rowspan = 2 class="text-center align-middle">№</th>
                                                        <th rowspan = 2 class="text-center align-middle">RouterCallKey</th>
                                                        <th rowspan = 2 class="text-center align-middle">ANI</th>
                                                        <th rowspan = 2 class="text-center align-middle">Digits dialed</th>
                                                        <th colspan = 2 class="text-center align-middle">Talk time</th>
                                                        <th rowspan = 2 class="text-center align-middle">Extension</th>
                                                        <th rowspan = 2 class="text-center align-middle">LoginName</th>
                                                        <th rowspan = 2 class="text-center align-middle">SkillGroup</th>
                                                        <th rowspan = 2 class="text-center align-middle">Call result</th>
                                                        <th rowspan = 2 class="text-center align-middle">Номер для перевода</th>
                                                        <th rowspan = 2 class="text-center align-middle">Direction</th>
                                                        <th colspan = 8 class="text-center align-middle">Duration (s.)</th>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-center align-middle">begin</td>
                                                        <td class="text-center align-middle">end</td>
                                                        <td class="text-center align-middle">total</td>
                                                        <td class="text-center align-middle">ring</td>
                                                        <td class="text-center align-middle">delay</td>
                                                        <td class="text-center align-middle">aband</td>
                                                        <td class="text-center align-middle">hold</td>
                                                        <td class="text-center align-middle">talk</td>
                                                        <td class="text-center align-middle">wrap</td>
                                                        <td class="text-center align-middle">local</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>3123123</td>
                                                        <td>wewe</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td><span class="badge rounded-pill bg-secondary">sdfsdf</span></td>
                                                        <td><span class="badge rounded-pill bg-success">sdfd</span></td>
                                                        <td><span class="badge rounded-pill bg-primary">fdfsd</span></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>4</td>
                                                        <td>3</td>
                                                        <td>12</td>
                                                        <td>2</td>
                                                        <td></td>
                                                        <td>2</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="col-12">
                                <div class="card shadow card-xl-stretch my-3">
                                    <div class="card-header ">
                                        <!-- <span class="text-muted fw-bolder"><i class="fa-solid fa-route me-1 text-danger"></i>CallRoute</span> -->
                                        <h5 class="m-0 fw-bold text-secondary"><i class="fa-solid fa-route me-1 text-secondary"></i>CallRoute</h5>
                                    </div>
                                    <div class="card-body py-3">
                                        <!--begin::Table container-->
                                        <div class="table-responsive">
                                            <!--begin::Table-->
                                            <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
                                                <!--begin::Table head-->
                                                <thead>
                                                    <tr class="fw-bolder text-muted">
                                                        <th class="w-25px">№
                                                        </th>
                                                        <th class="min-w-150px">ANI</th>
                                                        <th class="min-w-150px">DigitsDialed</th>
                                                        <th class="min-w-150px">Login</th>
                                                        <th class="min-w-150px">Extension</th>
                                                        <th class="min-w-150px">SkillGroup</th>
                                                        <th class="min-w-150px">CallResult</th>
                                                        <th class="min-w-150px">FinalDestination</th>
                                                        <th class="min-w-150px">Queue time</th>
                                                        <th class="min-w-150px">RingTime</th>
                                                        <th class="min-w-150px">TalkTime</th>
                                                        <th class="min-w-150px text-end">Survey</th>
                                                    </tr>
                                                </thead>
                                                <!--end::Table head-->
                                                <!--begin::Table body-->
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <span class="text-muted fw-bold d-block fs-6">1</span>
                                                        </td>
                                                        <td>
                                                            <span class="badge rounded-pill bg-secondary">+7-995-675-89-24</span>
                                                        </td>
                                                        <td>
                                                            <span class="badge rounded-pill bg-danger">8-800-450-0150</span>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex align-items-center">
                                                                <div class="d-flex justify-content-center flex-column">
                                                                    <div><span class="text-muted fw-bolder">Ivanov Ivan</span></div>
                                                                    <div><span class="badge rounded-pill bg-success">SG_First_Line</span></div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <span class="text-muted fw-bold text-muted d-block fs-6">7654</span>
                                                        </td>
                                                        <td>
                                                            <span class="badge rounded-pill bg-danger">8-800-450-0150</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-muted fw-bold text-muted d-block fs-6">Transfer</span>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-start flex-column">
                                                                <div><span class="badge rounded-pill bg-success">SG_2LTP</span></div>
                                                                <div><span class="badge rounded-pill bg-secondary">3174</span></div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <span class="text-muted fw-bold text-muted d-block fs-6">34</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-muted fw-bold text-muted d-block fs-6">8</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-muted fw-bold text-muted d-block fs-6">56</span>
                                                        </td>
                                                        <td class="text-end">
                                                            <div class="d-flex align-items-center">
                                                                <div class="d-flex justify-content-center flex-column">
                                                                    <div><span class="text-muted fw-bolder">4</span></div>
                                                                    <div class="d-flex justify-content-end small-ratings align-items-end">
                                                                        <i class="fa fa-star rating-color"></i>
                                                                        <i class="fa fa-star rating-color"></i>
                                                                        <i class="fa fa-star rating-color"></i>
                                                                        <i class="fa fa-star rating-color"></i>
                                                                        <i class="fa-regular fa-star rating-color"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <span class="text-muted fw-bold d-block fs-6">2</span>
                                                        </td>
                                                        <td>
                                                            <span class="badge rounded-pill bg-secondary">+7-995-675-89-24</span>
                                                        </td>
                                                        <td>
                                                            <span class="badge rounded-pill bg-danger">3174</span>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex align-items-center">
                                                                <div class="d-flex justify-content-center flex-column">
                                                                    <div><span class="text-muted fw-bolder">Illarionova Tatyana</span></div>
                                                                    <div><span class="badge rounded-pill bg-success">SG_2LTP</span></div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <span class="text-muted fw-bold text-muted d-block fs-6">7654</span>
                                                        </td>
                                                        <td>
                                                            <span class="badge rounded-pill bg-danger">8-800-450-0150</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-muted fw-bold text-muted d-block fs-6">Transfer</span>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex justify-content-start flex-column">
                                                                <div><span class="badge rounded-pill bg-danger">IVR - PostCallServey</span></div>
                                                                <div><span class="badge rounded-pill bg-secondary">3100</span></div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <span class="text-muted fw-bold text-muted d-block fs-6">12</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-muted fw-bold text-muted d-block fs-6">7</span>
                                                        </td>
                                                        <td class="text-end">
                                                            <span class="text-muted fw-bold text-muted d-block fs-6">189</span>
                                                        </td>
                                                    </tr>
                                                <tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Table of CallDetail -->
                       <div class="row py-3">
                            <div class="col">
                                <div class="container ">
                                    <div class="d-flex justify-content-center mb-1">
                                        <div class="card bg-secondary shadow border-0 text-white w-50">
                                            <div class="card-body p-4">
                                                <h5 class="mb-3 text-white"><i class="fa-solid fa-person fa-xl me-1"></i><span class="badge rounded-pill bg-light text-secondary fw-bolder">abonent</span></h5>
                                                <p class="text-muted text-white-50 mb-3"><i class="far fa-clock me-1" aria-hidden="true"></i>2023 3 November 19:45:37</p>
                                                <div class="fs-5 fw-bold text-white-50 mb-2"><i class="fa-solid fa-table me-1"></i>Info</div>
                                                <div class="fs-6 d-flex justify-content-between mb-1">
                                                    <div class="fw-bold">
                                                        Phone
                                                    </div>
                                                    <div class="d-flex justify-content-end align-items-center">
                                                        <h6 class="badge bg-light text-secondary mb-0">+7-995-675-89-24</h6>
                                                    </div>
                                                </div>
                                                <div class="separator separator-dashed text-white-50"></div>
                                                <div class="fs-6 d-flex justify-content-between mb-3 mt-1">
                                                    <div class="fw-bold">
                                                        Location
                                                    </div>
                                                    <div class="d-flex justify-content-end small-ratings align-items-center">
                                                        <h6 class="badge bg-light text-secondary mb-0">Moscow</h6>
                                                    </div>
                                                </div>
                                                <div class="fs-5 fw-bold text-white-50 mb-2"><i class="fa-solid fa-map-location-dot me-1"></i>Destination</div>
                                                <div class="fs-6 d-flex justify-content-between mb-1">
                                                    <div class="fw-bold">
                                                        Phone
                                                    </div>
                                                    <div class="d-flex justify-content-end align-items-center">
                                                        <h6 class="badge bg-light text-secondary mb-0">8-800-450-0150</h6>
                                                    </div>
                                                </div>
                                                <div class="separator separator-dashed text-white-50"></div>
                                                <div class="fs-6 d-flex justify-content-between mt-1">
                                                    <div class="fw-bold">
                                                        Description
                                                    </div>
                                                    <div class="d-flex justify-content-end small-ratings align-items-center">
                                                        <h6 class="badge bg-light text-secondary mb-0">General support</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="main-timeline-4 text-white">
                                        <div class="timeline-4 left-4">
                                            <div class="card bg-danger border-0">
                                                <div class="card-body p-4">
                                                    <h5 class="mb-3"><i class="fa-solid fa-voicemail fa-xl me-1"></i><span class="me-1">8-800-450-0150</span><span class="badge rounded-pill bg-light text-danger fw-bolder">ivr</span></h5>
                                                    <p class="text-muted text-white-50 mb-3"><i class="far fa-clock me-1" aria-hidden="true"></i>2023 3 November 19:45:37</p>
                                                    <!--  begin::Info -->
                                                    <div class="fs-5 fw-bold text-white-50 mb-2"><i class="fa-solid fa-table me-1"></i>Info</div>
                                                    <div class="fs-6 d-flex justify-content-between mb-1">
                                                        <div class="fw-bold">
                                                            Duration
                                                        </div>
                                                        <div class="d-flex justify-content-end small-ratings align-items-center">
                                                            <span class="badge rounded-pill bg-light text-danger fw-bolder">57 sec.</span>
                                                        </div>
                                                    </div>
                                                    <div class="separator separator-dashed text-white-50"></div>
                                                    <div class="fs-6 d-flex justify-content-between mb-1 mt-1">
                                                        <div class="fw-bold">
                                                            Server
                                                        </div>
                                                        <div class="d-flex justify-content-end small-ratings align-items-center">
                                                            <span class="badge rounded-pill bg-light text-danger fw-bolder">127.0.0.1:8000</span>
                                                        </div>
                                                    </div>
                                                    <div class="separator separator-dashed text-white-50"></div>
                                                    <div class="fs-6 d-flex justify-content-between mb-1 mt-1">
                                                        <div class="fw-bold">
                                                            Application
                                                        </div>
                                                        <div class="d-flex justify-content-end small-ratings align-items-center">
                                                            <span class="badge rounded-pill bg-light text-danger fw-bold">LP_CC_8004500150_11062023</span>
                                                        </div>
                                                    </div>
                                                    <div class="separator separator-dashed"></div>
                                                    <div class="fs-6 d-flex justify-content-between mt-1">
                                                        <div class="fw-bold">
                                                            Schema
                                                        </div>
                                                        <div class="d-flex justify-content-end small-ratings align-items-center">
                                                            <a href="" class="text-white"><i class="fa-solid fa-file-pdf fa-xl"></i></a>
                                                        </div>
                                                    </div>
                                                    <!--  end::Info -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="timeline-4 right-4">
                                            <div class="card bg-success border-0">
                                                <div class="card-body p-4">
                                                    <h5 class="mb-3"><i class="fa-solid fa-users-viewfinder fa-xl me-1"></i><span class="me-1">SG_First_Line</span><span class="badge rounded-pill bg-light text-success fw-bolder">skillgroup</span></h5>
                                                    <p class="text-muted text-white-50 mb-3"><i class="far fa-clock me-1" aria-hidden="true"></i>2023 3 November 19:45:37</p>
                                                    <!--  begin::Queue -->
                                                    <div class="fs-5 fw-bold text-white-50 mb-2"><i class="fa-solid fa-business-time me-1"></i>Queue</div>
                                                    <div class="fs-6 d-flex justify-content-between mb-1">
                                                        <div class="fw-bold">
                                                            Queue time
                                                        </div>
                                                        <div class="d-flex justify-content-end small-ratings align-items-center">
                                                            <span class="badge rounded-pill bg-light text-success fw-bolder">6 sec.</span>
                                                        </div>
                                                    </div>
                                                    <div class="separator separator-dashed text-white-50"></div>
                                                    <div class="fs-6 d-flex justify-content-between mb-1 mt-1">
                                                        <div class="fw-bold">
                                                            Max in queue
                                                        </div>
                                                        <div class="d-flex justify-content-end small-ratings align-items-center">
                                                            <span class="badge rounded-pill bg-light text-success fw-bold">3</span>
                                                        </div>
                                                    </div>
                                                    <div class="separator separator-dashed"></div>
                                                    <div class="fs-6 d-flex justify-content-between mt-1">
                                                        <div class="fw-bold">
                                                            Alive operators
                                                        </div>
                                                        <div class="d-flex justify-content-end small-ratings align-items-center">
                                                            <span class="badge rounded-pill bg-light text-success fw-bolder">1</span>
                                                        </div>
                                                    </div>
                                                    <!--  end::Calls -->
                                                </div>
                                            </div>
                                        </div>

                                        <div class="timeline-4 left-4">
                                            <div class="card bg-primary border-0">
                                                <div class="card-body p-4">
                                                    <div class="d-flex">
                                                        <div class="d-fill me-1">
                                                            <h5 class="mb-3"><i class="fa-solid fa-headset fa-xl me-1"></i><span class="me-1">Ivanov.Ivan</span><span class="badge rounded-pill bg-light text-primary fw-bolder">operator</span></h5>
                                                            <p class="text-muted text-white-50 mb-3"><i class="far fa-clock me-1" aria-hidden="true"></i>03.11.2023 19:45:37</p>
                                                        </div>
                                                        <div class="d-fill bg-light py-1 rounded">
                                                            <canvas id="myPieChart"></canvas>
                                                        </div>
                                                    </div>

                                                    <!--  begin::Raiting -->
                                                    <div class="fs-5 fw-bold text-white-50 mb-2"><i class="fa fa-ranking-star me-1"></i>Raiting</div>
                                                    <div class="fs-6 d-flex justify-content-between mb-1">
                                                        <div class="fw-bold">
                                                            Last hour
                                                        </div>
                                                        <div class="d-flex justify-content-end small-ratings align-items-center">
                                                            <i class="fa fa-star rating-color"></i>
                                                            <i class="fa fa-star rating-color"></i>
                                                            <i class="fa fa-star rating-color"></i>
                                                            <i class="fa-regular fa-star rating-color"></i>
                                                            <i class="fa-regular fa-star rating-color"></i>
                                                        </div>
                                                    </div>
                                                    <div class="separator separator-dashed text-white-50"></div>
                                                    <div class="fs-6 d-flex justify-content-between mb-1 mt-1">
                                                        <div class="fw-bold">
                                                            Daily
                                                        </div>
                                                        <div class="d-flex justify-content-end small-ratings align-items-center">
                                                            <i class="fa fa-star rating-color"></i>
                                                            <i class="fa fa-star rating-color"></i>
                                                            <i class="fa fa-star rating-color"></i>
                                                            <i class="fa fa-star rating-color"></i>
                                                            <i class="fa-regular fa-star rating-color"></i>
                                                        </div>
                                                    </div>
                                                    <div class="separator separator-dashed"></div>
                                                    <div class="fs-6 d-flex justify-content-between mb-3 mt-1">
                                                        <div class="fw-bold">
                                                            Week
                                                        </div>
                                                        <div class="d-flex justify-content-end small-ratings align-items-center">
                                                            <i class="fa fa-star rating-color"></i>
                                                            <i class="fa fa-star rating-color"></i>
                                                            <i class="fa fa-star rating-color"></i>
                                                            <i class="fa fa-star rating-color"></i>
                                                            <i class="fa fa-star rating-color"></i>
                                                        </div>
                                                    </div>
                                                    <!--  end::Raiting -->
                                                    <!--  begin::Calls -->
                                                    <div class="fs-5 fw-bold text-white-50 mb-2"><i class="fa fa-phone me-1"></i>Calls</div>
                                                    <div class="fs-6 d-flex justify-content-between mb-1">
                                                        <div class="fw-bold">
                                                            Inbound
                                                        </div>
                                                        <div class="d-flex justify-content-end small-ratings align-items-center">
                                                            <span class="badge rounded-pill bg-light text-primary fw-bolder">6</span>
                                                        </div>
                                                    </div>
                                                    <div class="separator separator-dashed text-white-50"></div>
                                                    <div class="fs-6 d-flex justify-content-between mb-1 mt-1">
                                                        <div class="fw-bold">
                                                            Missed
                                                        </div>
                                                        <div class="d-flex justify-content-end small-ratings align-items-center">
                                                            <span class="badge rounded-pill bg-light text-primary fw-bold">3</span>
                                                        </div>
                                                    </div>
                                                    <div class="separator separator-dashed"></div>
                                                    <div class="fs-6 d-flex justify-content-between mt-1">
                                                        <div class="fw-bold">
                                                            Abandon
                                                        </div>
                                                        <div class="d-flex justify-content-end small-ratings align-items-center">
                                                            <span class="badge rounded-pill bg-light text-primary fw-bolder">1</span>
                                                        </div>
                                                    </div>
                                                    <!--  end::Calls -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <div class="card bg-danger text-white border-0 w-50">
                                            <div class="card-body p-4">
                                                <!-- <h5 class="mb-3"><i class="fa-solid fa-voicemail fa-xl me-1"></i><span class="me-1">Post Call Survey</span><span class="badge rounded-pill bg-light text-danger fw-bolder">ivr</span></h5>
                                                <p class="text-muted text-white-50 mb-3"><i class="far fa-clock me-1" aria-hidden="true"></i>2023 3 November 19:45:37</p> -->
                                                <!--  begin::Survey -->
                                                <!-- <div class="fs-5 fw-bold text-white-50 mb-2"><i class="fa-solid fa-business-time me-1"></i>Survey</div> -->
                                                <div class="fs-6 d-flex justify-content-between mb-1">
                                                    <div class="d-flex justify-content-end small-ratings align-items-center">
                                                        <div class="fw-bold">
                                                            Points
                                                        </div>
                                                    </div>
                                                    <div class="fw-bold">
                                                        <a href="#" class="btn btn-circle position-relative bg-danger">
                                                            <i class="fa fa-ranking-star fa-xl text-white"></i>
                                                            <span class="position-absolute top-0 start-70 translate-middle badge rounded-pill bg-white text-danger fw-bolder">
                                                                <span class="fw-bolder">4</span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                    <div class="d-flex justify-content-end small-ratings align-items-center">
                                                        <span class="badge rounded-pill bg-light text-danger fw-bolder">from (1-5)</span>
                                                    </div>
                                                </div>
                                                <!--  end::Survey -->
                                                <!--  begin::Info -->
                                                <div class="fs-5 fw-bold text-white-50 mb-2"><i class="fa-solid fa-table me-1"></i>Info</div>
                                                <div class="fs-6 d-flex justify-content-between mb-1">
                                                    <div class="fw-bold">
                                                        Server
                                                    </div>
                                                    <div class="d-flex justify-content-end small-ratings align-items-center">
                                                        <span class="badge rounded-pill bg-light text-danger fw-bolder">127.0.0.1:8000</span>
                                                    </div>
                                                </div>
                                                <div class="separator separator-dashed text-white-50"></div>
                                                <div class="fs-6 d-flex justify-content-between mb-1 mt-1">
                                                    <div class="fw-bold">
                                                        Application
                                                    </div>
                                                    <div class="d-flex justify-content-end small-ratings align-items-center">
                                                        <span class="badge rounded-pill bg-light text-danger fw-bold">LP_CC_PCS_21092023</span>
                                                    </div>
                                                </div>
                                                <div class="separator separator-dashed"></div>
                                                <div class="fs-6 d-flex justify-content-between mb-3 mt-1">
                                                    <div class="fw-bold">
                                                        Schema
                                                    </div>
                                                    <div class="d-flex justify-content-end small-ratings align-items-center">
                                                        <a href="" class="text-white"><i class="fa-solid fa-file-pdf fa-xl"></i></a>
                                                    </div>
                                                </div>
                                                <!--  end::Info -->
                                                <div class="d-flex flex-column justify-content-end align-items-end">
                                                    <div><p class="text-muted text-white-50 mb-3"><i class="far fa-clock me-1" aria-hidden="true"></i>2023 3 November 19:45:37</p></div>
                                                    <div><h5 class="mb-3"><i class="fa-solid fa-voicemail fa-xl me-1"></i><span class="me-1">Post Call Survey</span><span class="badge rounded-pill bg-light text-danger fw-bolder">ivr</span></h5></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       </div>
                    </div>
                </main>



{% include 'main/footer.html' %}
{% include 'main/scripts.html' %}

</body>

</html>