{% load static %}
{% load crispy_forms_tags %}

{% include 'main/header.html' %}
<body class="sb-nav-fixed">
    {% include 'main/navbar-top.html' %}
        <div id="layoutSidenav">
            {% include 'main/sidebar.html' %}
            <div id="layoutSidenav_content">
                <main>
                    <!-- Write your web page content here -->
                    <div class="container">
                        <div class="d-flex flex-column align-items-center py-4"> <!-- justify-content-center vh-100 -->
                            <div class="card shadow rounded border-1 w-75">
                                <div class="card-header text-center">
                                    <h5>Create article</h5>
                                </div>
                                <div class="card-body">
                                    <form method="post" class="contact_form" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="card mb-3">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <h5 class="mb-0">Title</h5>
                                                    </div>
                                                    <div class="col-sm-9 text-secondary">
                                                        {{ form.title }}
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <h5 class="mb-0">Author</h5>
                                                    </div>
                                                    <div class="col-sm-9 text-secondary">
                                                        {{ form.author }}
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <h5 class="mb-0">Anouncement</h5>
                                                    </div>
                                                    <div class="col-sm-9 text-secondary">
                                                        {{ form.anouncement }}
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <h5 class="mb-0">Text</h5>
                                                    </div>
                                                    <div class="col-sm-9 text-secondary">
                                                        {{ form.text }}
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h5 class="mb-0">Category</h5>
                                                        {{ form.category }}
                                                    </div>
                                                    <div class="col-6">
                                                        <h5 class="mb-0">Tags</h5>
                                                        {{ form.tags }}
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col">
                                                        {{ form.image_field }}
                                                    </div>
                                                </div>
                                            </div>
                                            <input type="submit" class="btn btn-success ms-auto m-1" value = "Save">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>

{% include 'main/footer.html' %}
{% include 'main/scripts.html' %}

</body>

</html>