{% load static %}

{% include 'main/header.html' %}
<body class="sb-nav-fixed">
    {% include 'main/navbar-top.html' %}
        <div id="layoutSidenav">
            {% include 'main/sidebar.html' %}
            <div id="layoutSidenav_content">
                <main>
                    <!-- Write your web page content here -->
                    <div class="container">
                        <div class="d-flex flex-column align-items-center pt-4"> <!-- justify-content-center vh-100 -->
                            <div class="card shadow index-card-custom rounded border-1 border-left-primary w-75">
                                <div class="card-header">
                                    <span class="text-primary fw-bold"><i class="fa-solid fa-newspaper me-1"></i>{{ article.title }}</span>
                                </div>

                                <div class="card-body text-muted">
                                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                  <div class="carousel-inner">
                                    <div class="carousel-item active">
                                      <img src="..." class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                      <img src="..." class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                      <img src="..." class="d-block w-100" alt="...">
                                    </div>
                                  </div>
                                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                  </button>
                                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                  </button>
                                </div>
                                    <div class="d-flex flex-column">
                                        <!-- <div class="pb-3"> -->
                                            <p>{{ article.text }}</p>
                                        <!-- </div> -->
                                    </div>
                                </div>
                                <div class="card-footer small text-muted text-end">
                                    <span>Updated <strong>{{ article.shortdatestr}}</strong> by <strong> {{ article.author }} </strong></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>

{% include 'main/footer.html' %}
{% include 'main/scripts.html' %}

</body>

</html>