{% load static %}
{% load crispy_forms_tags %}

{% include 'main/header.html' %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"> </script>
<body class="sb-nav-fixed">
    {% include 'main/navbar-top.html' %}
        <div id="layoutSidenav">
            {% include 'main/sidebar.html' %}
            <div id="layoutSidenav_content">
                <main>
                    <!-- Write your web page content here -->
                    <div class="container-fluid px-4">
                        <!-- begin: HeaderMenu -->
                        <div class="row rounded shadow-sm my-3" style="background-color: #ebeef7;">
                            <div class="col-12">
                                <div class="d-flex justify-content-end align-items-center py-2">
                                    <div class="me-auto">
                                        <h5 class="m-0 fw-bold text-warning"><i class="fa-solid fa-rss me-1"></i>News ({{ total_article }})</h5>
                                    </div>
                                    <div class="search me-2">
                                        <form method="POST">
                                            {% csrf_token %}
                                            <div class="input-group input-group-sm shadow-sm">
                                                <input type="hidden" name="name" value="SearchShow">
                                                <input class="form-control rounded" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" id="search_input" name="search"/>
                                                <button class="btn btn-light-primary" id="btnNavbarSearch" type="submit"><i class="fas fa-search fa-fw "></i></button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="me-2">
                                        <div class="dropdown">
                                            <!-- <button type="submit" class="btn btn-light-primary fw-bolder"><i class="fas fa-filter fa-fw fa-xs me-1"></i>Filter</button> -->
                                            <button class="btn btn-light-primary btn-sm fw-bolder shadow-sm" type="button" id="dropdownMenuClickableInside" data-bs-auto-close="outside" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fas fa-filter fa-fw fa-xs me-1"></i>Filter
                                            </button>
                                            <form class="dropdown-menu dropdown-menu-end p-3 menu-sub-dropdown shadow w-300px w-md-300px bg-light" aria-labelledby="dropdownMenuClickableInside" method="POST">
                                                <input type="hidden" name="name" value="FilterApply">
                                                 {% csrf_token %}
                                                <div class="pb-2">
                                                    <div class="fs-6 text-dark fw-bold">Filter Options</div>
                                                </div>
                                                <!--end::Header-->
                                                <!--begin::Menu separator-->
                                                <div class="separator border-gray-200"></div>
                                                <!--end::Menu separator-->
                                                <!--begin::Form-->
                                                <div class="py-1">
                                                    <!--begin::Input group-->
                                                    <div class="">
                                                        <!--begin::Label-->
                                                        <label class="form-label fw-bold text-muted">Author:</label>
                                                        <!--end::Label-->
                                                        <!--begin::Input-->
                                                        <div>
                                                            <select class="form-select w-75" name="author_filter">
                                                                <option value="0">All authors</option>
                                                                {% for author in author_list %}
                                                                    <option value="{{ author.id }}"{% if selected_author == author.id %} selected {% endif %} >{{ author }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        <!--end::Input-->
                                                    </div>
                                                    <!--end::Input group-->
                                                    <!--begin::Input group-->
                                                    <div class="mt-3">
                                                        <!--begin::Label-->
                                                        <label class="form-label fw-bold text-muted">Category:</label>
                                                        <!--begin::Input-->
                                                        <div>
                                                            <select class="form-select w-75" name="category_filter">
                                                                <option value="0">All categories</option>
                                                                {% for category in category_list %}
                                                                    <option value="{{ forloop.counter }}"{% if selected_category == forloop.counter %} selected {% endif %} >{{ category.1 }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        <!--end::Input-->
                                                    </div>
                                                    <div class="mt-3">
                                                        <!--begin:Option-->
                                                        <div class="d-flex align-items-center">
                                                            <div class="d-flex align-items-start flex-column">
                                                                <div class="d-flex justify-content-start align-items-center pb-1">
                                                                    <div>
                                                                        <span class="fa-stack fa-custom-lg">
                                                                            <i class="fa-solid fa-square fa-stack-2x" style="color: #7239ea;"></i>
                                                                            <i class="fa fas fa-rss fa-stack-1x fa-inverse"></i>
                                                                        </span>
                                                                    </div>
                                                                    <div><span class="fw-bolder text-grey-50">Global</span></div>
                                                                    <div class="ms-2">
                                                                        <span class="form-check form-check-custom form-check-solid">
                                                                            <input type="checkbox" class="form-check-input" name="category1" id="checkDefault1" value="G" disabled>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                 <!--end:Option-->
                                                                <!-- <div class="d-flex justify-content-center py-1">
                                                                    <div class="separator-filter separator-dashed w-100 mx-2">
                                                                    </div>
                                                                </div> -->
                                                                 <!--begin:Option-->
                                                                <div class="d-flex justify-content-start align-items-center">
                                                                    <div>
                                                                        <span class="fa-stack fa-custom-lg">
                                                                            <i class="fa-solid fa-square fa-stack-2x" style="color: #50cd89;"></i>
                                                                            <i class="fas fa-table fa-stack-1x fa-inverse"></i>
                                                                        </span>
                                                                    </div>
                                                                    <div><span class="fw-bolder text-grey-50">Report</span></div>
                                                                    <div class="ms-2">
                                                                        <span class="form-check form-check-custom form-check-solid">
                                                                            <input type="checkbox" class="form-check-input" name="category2" id="checkDefault1" value="R" disabled>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--end:Option-->
                                                            <div class="d-flex align-items-start flex-column ">
                                                                <!-- <div class="d-flex justify-content-center py-1">
                                                                    <div class="separator-filter separator-dashed w-100 mx-2">
                                                                    </div>
                                                                </div> -->
                                                                 <!--begin:Option-->
                                                                <div class="d-flex justify-content-start align-items-center pb-1">
                                                                    <div>
                                                                        <span class="fa-stack fa-custom-lg">
                                                                            <i class="fa-solid fa-square fa-stack-2x" style="color: #009ef7;"></i>
                                                                            <i class="fas fa-route fa-stack-1x fa-inverse"></i>
                                                                        </span>
                                                                    </div>
                                                                    <div><span class="fw-bolder text-grey-50">CallRoute</span></div>
                                                                    <div class="ms-2">
                                                                        <span class="form-check form-check-custom form-check-solid">
                                                                            <input type="checkbox" class="form-check-input" name="category3" id="checkDefault1" value="C" disabled>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                 <!--end:Option-->
                                                                <!-- <div class="d-flex justify-content-center py-1">
                                                                    <div class="separator-filter separator-solid w-100 mx-2">
                                                                    </div>
                                                                </div> -->
                                                                <!--begin:Option-->
                                                                <div class="d-flex justify-content-start align-items-center">
                                                                    <div>
                                                                        <span class="fa-stack fa-custom-lg">
                                                                            <i class="fa-solid fa-square fa-stack-2x" style="color: #f1416c;"></i>
                                                                            <i class="fas fa-chart-line  fa-stack-1x fa-inverse"></i>
                                                                        </span>
                                                                    </div>
                                                                    <div><span class="fw-bolder text-grey-50">IVR</span></div>
                                                                    <div class="ms-2">
                                                                        <span class="form-check form-check-custom form-check-solid">
                                                                            <input type="checkbox" class="form-check-input" name="category4" id="checkDefault1" value="DIVR" disabled>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--end:Option-->
                                                    </div>
                                                    <!-- </div> -->
                                                    <!--end::Input group-->
                                                    <!--begin::Input group-->
                                                    <div class="mt-3">
                                                        <!--begin::Label-->
                                                        <label class="form-label fw-bold text-muted">Order by Date:</label>
                                                        <!--end::Label-->
                                                        <!--begin::Switch-->
                                                        <div class="form-check form-switch form-switch-sm form-check-custom form-check-solid">
                                                            <input class="form-check-input" type="checkbox" value="" name="notifications" checked="checked" disabled/>
                                                            <label class="form-check-label">Enabled</label>
                                                        </div>
                                                        <!--end::Switch-->
                                                    </div>
                                                    <!--end::Input group-->
                                                    <!--begin::Actions-->
                                                    <div class="d-flex justify-content-end pt-4">
                                                        <button type="reset" class="btn btn-sm btn-secondary me-2">Reset</button>
                                                        <button type="submit" class="btn btn-sm btn-custom-primary">Apply</button>
                                                    </div>
                                                    <!--end::Actions-->
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div>
                                        {% load users_extras %}
                                        <button href="#" type="button" class="btn btn-light-primary btn-sm shadow-sm fw-bolder" {% if not request.user|has_group:"Authors" %} disabled {% endif %} data-bs-toggle="modal" data-bs-target="#modalLarge"><i class="fas fa-plus fa-fw fa-xs me-1"></i>Create</button>
                                        <div class="modal fade" id="modalLarge" tabindex="-1" aria-labelledby="modalLargeTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-header border-0">
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="mt-1 text-center">
                                                            <!--begin::Title-->
                                                            <h1 class="mb-3">Create Article</h1>
                                                            <!--end::Title-->
														</div>
														<!--end::Description-->
														<!--в обязательном порядке указываем enctype-->
                                                        <form method="post" class="contact_form" enctype="multipart/form-data">
                                                            <input type="hidden" name="name" value="SaveArticle">
                                                            {% csrf_token %}
                                                            <div class="card mb-3">
                                                                <div class="card-body">
                                                                    <div class="row">
                                                                        <div class="col-sm-3">
                                                                            <h5 class="mb-0">Title</h5>
                                                                        </div>
                                                                        <div class="col-sm-9 text-secondary">
                                                                            {{ formArticle.title }}
                                                                        </div>
                                                                    </div>
                                                                    <hr>
                                                                    <div class="row">
                                                                        <div class="col-sm-3">
                                                                            <h5 class="mb-0">Author</h5>
                                                                        </div>
                                                                        <div class="col-sm-9 text-secondary">
                                                                            {{ formArticle.author }}
                                                                        </div>
                                                                    </div>
                                                                    <hr>
                                                                    <div class="row">
                                                                        <div class="col-sm-3">
                                                                            <h5 class="mb-0">Anouncement</h5>
                                                                        </div>
                                                                        <div class="col-sm-9 text-secondary">
                                                                            {{ formArticle.anouncement }}
                                                                        </div>
                                                                    </div>
                                                                    <hr>
                                                                    <div class="row">
                                                                        <div class="col-sm-3">
                                                                            <h5 class="mb-0">Text</h5>
                                                                        </div>
                                                                        <div class="col-sm-9 text-secondary">
                                                                            {{ formArticle.text }}
                                                                        </div>
                                                                    </div>
                                                                    <hr>
                                                                    <div class="row">
                                                                        <div class="col-6">
                                                                            <h5 class="mb-0">Category</h5>
                                                                            {{ formArticle.category }}
                                                                        </div>
                                                                        <div class="col-6">
                                                                            <h5 class="mb-0">Tags</h5>
                                                                            {{ formArticle.tags }}
                                                                        </div>
                                                                    </div>
                                                                    <hr>
                                                                    <div class="row">
                                                                        <div class="col">
                                                                            {{ formArticle.image_field }}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <input type="submit" class="btn btn-success ms-auto m-1" value = "Save">
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end: HeaderMenu -->
                        <!-- begin: Alert -->
                        {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-dismissible alert-{{ message.tags }} fade show text-muted" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            {% endfor %}
                        {% endif %}
                        <!-- end: Alert -->

                        <!-- begin: Paginator -->
                        {% if total_article > 1 %}
                            {% if total_article > 5 %}
                            <div class="row">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        {% if articles.has_previous %}
                                            <li class="page-item"><a class="page-link" href="?page={{ articles.previous_page_number }}">Previous</a></li>
                                        {% endif %}
                                        {% for p in articles.paginator.page_range %}
                                            {% if articles.number == p %}
                                                <li class="page-item"><a class="page-link"  href="?page={{ p }}">{{ p }}</a></li>
                                            {% else %}
                                                <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                        <!-- <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li> -->
                                        {% if articles.has_next %}
                                            <li class="page-item"><a class="page-link" href="?page={{ articles.next_page_number }}">Next</a></li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                            {% endif %}
                        {% endif %}
                        <!-- end: Paginator -->

                        <!--begin::News from DB-->
                        <!--begin::Row-->
                        <div class="row g-4 g-xl-8 pb-3">
                            {% for article in articles %}
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="card {% if article.category == 'R' %} bg-custom-success {% elif article.category == 'DIVR' %} bg-custom-danger
                                                    {% elif article.category == 'G' %} bg-custom-info {% elif article.category == 'C' %} bg-custom-primary {% else %} bg-custom-dark  {% endif %} border-0 shadow light-hoverable" style="text-decoration: none;">
                                    <!--begin::Body  light-hoverable-->
                                    <div class="card-body">
                                        <div class="d-flex justify-content-start">
                                            <div>
                                                 {% if article.category == 'R' %} <i class="fas fa-table fa-2xl text-white"></i> {% elif article.category == 'DIVR' %} <i class="fas fa-chart-line fa-2xl text-white"></i>
                                                     {% elif article.category == 'G' %} <i class="fas fa-rss fa-2xl text-white"></i> {% elif article.category == 'C' %} <i class="fas fa-route fa-2xl text-white"></i> {% endif %}

                                            </div>
                                                <div class="ms-auto">
                                                    <a href=" {% url 'favorites' article.pk %}" type="button" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary rounded me-1"><i class="fa-regular fa-bookmark"></i></a>
                                                    <a href="/news/update/{{ article.id }}" type="button" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary rounded"><i class="bi bi-pencil-square"></i></a>
                                                </div>
                                            </div>
                                        <div class="d-flex justify-content-end mt-1">
                                            <div class="me-auto"></div>
                                            <div></div>
                                            <div><a href="/news/delete/{{ article.id }}" type="button" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary rounded"><i class="bi bi-trash"></i></a></div>
                                        </div>
                                        <div class="text-white fw-bolder fs-2 mb-2 mt-2">{{ article.title }}</div>
                                        <div class="fw-bold text-white">{{ article.shortanouncement }}</div>

                                        <div class="d-flex text-white align-items-end justify-content-end pt-3">
                                            <div class="d-flex me-auto">
                                                <a href="{% url 'news_detail_generic' article.pk %}" type="button" class="btn btn-sm btn-light rounded shadow"><span class="text-muted fw-bolder">Show</span></a>
                                            </div>
                                            <ul class="d-flex align-items-center justify-content-center list-unstyled mt-auto">
                                                <li class="d-flex align-items-center justify-content-center me-3">
                                                    <i class="fas fa-user fa-fw me-1"></i>
                                                    <small>{{ article.author }}</small>
                                                </li>
                                                <li class="d-flex align-items-center justify-content-center me-3">
                                                    <i class="fa-solid fa-eye fa-fw me-1"></i>
                                                    <small>{{ article.get_views }}</small>
                                                </li>
                                                <li class="d-lg-none d-xxl-inline-block d-flex align-items-center justify-content-center me-2">
                                                    <i class="fas fa-calendar-day fa-fw me-1"></i>
                                                    <small>{% if article.generatecommentcount == '0' %} Today {% else %} <span>{{article.generatecommentcount}} d.</span> {% endif %}</small>
                                                    <!--  <small>3days</small> datebetween  article.date|timesince:currentdatetime-->
                                                </li>
                                                <li class="d-flex align-items-center me-1">
                                                    <i class="fa-regular fa-comment fa-fw me-1"></i>
                                                    <small>{{ article.generatecommentcount }}</small>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--end::Body-->
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <!--end::Row-->
                        <!--end::News from DB-->
                    </div>
                </main>

{% include 'main/footer.html' %}
{% include 'main/scripts.html' %}

</body>

</html>