{% load static %}

{% include 'main/header.html' %}
<body class="sb-nav-fixed">
    {% include 'main/navbar-top.html' %}
        <div id="layoutSidenav">
            {% include 'main/sidebar.html' %}
            <div id="layoutSidenav_content">
                <main>
                    <!-- Write your web page content here -->

                    <div class="container-fluid px-4">
<!--                         <h1> News из отдельного приложения </h1> -->
                        <div class="row rounded shadow-sm my-3" style="background-color: #f8f9fc;">
                            <div class="col-12">
                                <div class="d-flex justify-content-end my-2 me-3">
                                    <form method="POST">
                                        {% csrf_token %}
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <button type="submit" class="btn btn-light-primary fw-bolder"><i class="fas fa-filter fa-fw fa-xs me-1"></i>Filter</button>
                                                <div class="input-group">
                                                    <select class="form-select" name="author_filter">
                                                        <option value="0">All authors</option>
                                                        {% for author in author_list %}
                                                            <option value="{{ author.id }}"{% if selected == author.id %} selected {% endif %} >{{ author }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <button type="submit" class="btn btn-light-primary fw-bolder"><i class="fas fa-filter fa-fw fa-xs me-1"></i>Filter</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!--begin::From DB-->
                        <!--begin::Row-->
                        <div class="row g-5 g-xl-8">
                            {% for article in articles %}
                            <div class="col-xl-3">
                                <a href="#" class="card {% if article.category == 'R' %} bg-custom-success {% elif article.category == 'DIVR' %} bg-custom-danger
                                                    {% elif article.category == 'G' %} bg-custom-info {% elif article.category == 'C' %} bg-custom-primary {% endif %} light-hoverable card-xl-stretch mb-xl-8 border-0" style="text-decoration: none;">
                                    <!--begin::Body-->
                                    <div class="card-body">
                                        <div class="d-flex border-0 justify-content-between text-white">
                                            <div class="d-flex">
                                                {% if article.category == 'R' %} <i class="fas fa-table fa-2xl"></i> {% elif article.category == 'DIVR' %} <i class="fas fa-chart-line fa-2xl"></i>
                                                    {% elif article.category == 'G' %} <i class="fas fa-rss fa-2xl"></i> {% elif article.category == 'C' %} <i class="fas fa-route fa-2xl"></i> {% endif %}
                                            </div>
                                            <div class="d-flex">
                                                {{ article.category }}
                                            </div>
                                        </div>
                                        <div class="text-white fw-bolder fs-2 mb-2 mt-4">{{ article.title }}</div>
                                        <div class="fw-bold text-white">{{ article.shortanouncement }}</div>
                                        <div class="d-flex text-white align-items-end justify-content-end pt-3">
                                            <ul class="d-flex justify-content-end list-unstyled mt-auto">
                                                <li class="d-flex align-items-center me-3">
                                                    <i class="fas fa-user fa-fw me-1"></i>
                                                    <small>{{ article.author }}</small>
                                                </li>
                                                <li class="d-flex align-items-center me-3">
                                                    <i class="fas fa-calendar-day fa-fw me-1"></i>
                                                    <small>{{ article.date|timesince:currentdatetime }}</small>
<!--                                                     <small>3days</small> datebetween -->
                                                </li>
                                                <li class="d-flex align-items-center me-1">
                                                    <i class="fa-regular fa-comment fa-fw "></i>
                                                    <small>{{ article.generatecommentcount }}</small>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--end::Body-->
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                        <!--end::Row-->
                        <!--end::From DB-->

                        	<!--begin::Row-->
							<div class="row g-5 g-xl-8">
								<div class="col-xl-3">
									<!--begin::Statistics Widget 5-->
									<a href="#" class="card bg-custom-danger light-hoverable card-xl-stretch mb-xl-8 border-0" style="text-decoration: none;">
										<!--begin::Body-->
										<div class="card-body">
										    <div class="d-flex border-0 justify-content-between text-white">
                                                <div class="d-flex">
                                                    <i class="fas fa-table fa-2xl"></i>
                                                </div>
                                                <div class="d-flex">

                                                </div>
                                            </div>
											<div class="text-white fw-bolder fs-2 mb-2 mt-4">Shopping Cart</div>
											<div class="fw-bold text-white">Lands, Houses, Ranchos, Farms</div>
											<div class="d-flex text-white align-items-end justify-content-end pt-3">
                                                <ul class="d-flex justify-content-end list-unstyled mt-auto">
                                                    <li class="d-flex align-items-center me-3">
                                                        <i class="fas fa-user fa-fw me-1"></i>
                                                        <small>Admin</small>
                                                    </li>
                                                    <li class="d-flex align-items-center me-3">
                                                        <i class="fas fa-calendar-day fa-fw me-1"></i>
                                                        <small>3days</small>
                                                    </li>
                                                    <li class="d-flex align-items-center me-1">
                                                        <i class="fa-regular fa-comment fa-fw "></i>
                                                        <small>1</small>
                                                    </li>
                                                </ul>
                                            </div>
										</div>
										<!--end::Body-->
									</a>
									<!--end::Statistics Widget 5-->
								</div>
								<div class="col-xl-3">
									<!--begin::Statistics Widget 5-->
									<a href="#" class="card bg-custom-primary light-hoverable card-xl-stretch mb-xl-8 border-0" style="text-decoration: none;">
										<!--begin::Body-->
										<div class="card-body">
										    <div class="d-flex border-0 justify-content-between text-white">
                                                <div class="d-flex">
                                                    <i class="fas fa-chart-line fa-2xl"></i>
                                                </div>
                                                <div class="d-flex">

                                                </div>
                                            </div>
											<div class="text-white fw-bolder fs-2 mb-2 mt-4">Shopping Cart</div>
											<div class="fw-bold text-white">Lands, Houses, Ranchos, Farms</div>
											<div class="d-flex text-white align-items-end justify-content-end pt-3">
                                                <ul class="d-flex justify-content-end list-unstyled mt-auto">
                                                    <li class="d-flex align-items-center me-3">
                                                        <i class="fas fa-user fa-fw me-1"></i>
                                                        <small>Admin</small>
                                                    </li>
                                                    <li class="d-flex align-items-center me-3">
                                                        <i class="fas fa-calendar-day fa-fw me-1"></i>
                                                        <small>3days</small>
                                                    </li>
                                                    <li class="d-flex align-items-center me-1">
                                                        <i class="fa-regular fa-comment fa-fw "></i>
                                                        <small>1</small>
                                                    </li>
                                                </ul>
                                            </div>
										</div>
										<!--end::Body-->
									</a>
									<!--end::Statistics Widget 5-->
								</div>
								<div class="col-xl-3">
									<!--begin::Statistics Widget 5-->
									<a href="#" class="card bg-custom-info light-hoverable card-xl-stretch mb-xl-8 border-0" style="text-decoration: none;">
										<!--begin::Body-->
										<div class="card-body">
										    <div class="d-flex border-0 justify-content-between text-white">
                                                <div class="d-flex">
                                                    <i class="fas fa-rss fa-2xl"></i>
                                                </div>
                                                <div class="d-flex">

                                                </div>
                                            </div>
											<div class="text-white fw-bolder fs-2 mb-2 mt-4">Shopping Cart</div>
											<div class="fw-bold text-white">Lands, Houses, Ranchos, Farms</div>
											<div class="d-flex text-white align-items-end justify-content-end pt-3">
                                                <ul class="d-flex justify-content-end list-unstyled mt-auto">
                                                    <li class="d-flex align-items-center me-3">
                                                        <i class="fas fa-user fa-fw me-1"></i>
                                                        <small>Admin</small>
                                                    </li>
                                                    <li class="d-flex align-items-center me-3">
                                                        <i class="fas fa-calendar-day fa-fw me-1"></i>
                                                        <small>3days</small>
                                                    </li>
                                                    <li class="d-flex align-items-center me-1">
                                                        <i class="fa-regular fa-comment fa-fw "></i>
                                                        <small>1</small>
                                                    </li>
                                                </ul>
                                            </div>
										</div>
										<!--end::Body-->
									</a>
									<!--end::Statistics Widget 5-->
								</div>
								<div class="col-xl-3">
									<!--begin::Statistics Widget 5-->
									<a href="#" class="card bg-custom-secondary light-hoverable card-xl-stretch mb-xl-8 border-0" style="text-decoration: none;">
										<!--begin::Body-->
										<div class="card-body">
											<!--begin::Svg Icon | path: icons/duotune/ecommerce/ecm008.svg-->
											<span class="svg-icon svg-icon-white svg-icon-3x ms-n1">

											</span>
											<!--end::Svg Icon-->
											<div class="text-white fw-bolder fs-2 mb-2 mt-5">Appartments</div>
											<div class="fw-bold text-white">Flats, Shared Rooms, Duplex</div>
										</div>
										<!--end::Body-->
									</a>
									<!--end::Statistics Widget 5-->
								</div>
								<div class="col-xl-3">
									<!--begin::Statistics Widget 5-->
									<a href="#" class="card bg-custom-dark light-hoverable card-xl-stretch mb-xl-8 border-0" style="text-decoration: none;">
										<!--begin::Body-->
										<div class="card-body">
											<!--begin::Svg Icon | path: icons/duotune/ecommerce/ecm008.svg-->
											<span class="svg-icon svg-icon-white svg-icon-3x ms-n1">

											</span>
											<!--end::Svg Icon-->
											<div class="text-white fw-bolder fs-2 mb-2 mt-5">Appartments</div>
											<div class="fw-bold text-white">Flats, Shared Rooms, Duplex</div>
										</div>
										<!--end::Body-->
									</a>
									<!--end::Statistics Widget 5-->
								</div>
								<div class="col-xl-3">
									<!--begin::Statistics Widget 5-->
									<a href="#" class="card bg-custom-success light-hoverable card-xl-stretch mb-5 mb-xl-8 border-0" style="text-decoration: none;">
										<!--begin::Body-->
										<div class="card-body">
										    <div class="d-flex border-0 justify-content-between text-white">
                                                <div class="d-flex">
                                                    <i class="fas fa-route fa-2xl"></i>
                                                </div>
                                                <div class="d-flex">

                                                </div>
                                            </div>
											<div class="text-white fw-bolder fs-2 mb-2 mt-4">Shopping Cart</div>
											<div class="fw-bold text-white">Lands, Houses, Ranchos, Farms</div>
											<div class="d-flex text-white align-items-end justify-content-end pt-3">
                                                <ul class="d-flex justify-content-end list-unstyled mt-auto">
                                                    <li class="d-flex align-items-center me-3">
                                                        <i class="fas fa-user fa-fw me-1"></i>
                                                        <small>Admin</small>
                                                    </li>
                                                    <li class="d-flex align-items-center me-3">
                                                        <i class="fas fa-calendar-day fa-fw me-1"></i>
                                                        <small>3days</small>
                                                    </li>
                                                    <li class="d-flex align-items-center me-1">
                                                        <i class="fa-regular fa-comment fa-fw "></i>
                                                        <small>1</small>
                                                    </li>
                                                </ul>
                                            </div>
										</div>
										<!--end::Body-->
									</a>
									<!--end::Statistics Widget 5-->
								</div>
								<div class="col-xl-3">
									<!--begin::Statistics Widget 5-->
									<a href="#" class="card bg-custom-warning light-hoverable card-xl-stretch mb-5 mb-xl-8 border-0" style="text-decoration: none;">
										<!--begin::Body-->
										<div class="card-body">
											<!--begin::Svg Icon | path: icons/duotune/graphs/gra005.svg-->
											<span class="svg-icon svg-icon-white svg-icon-3x ms-n1">

											</span>
											<!--end::Svg Icon-->
											<div class="text-white fw-bolder fs-2 mb-2 mt-5">Sales Stats</div>
											<div class="fw-bold text-white">50% Increased for FY20</div>
										</div>
										<!--end::Body-->
									</a>
									<!--end::Statistics Widget 5-->
								</div>
							</div>
							<!--end::Row-->

<!--                         <div class="container" id="custom-cards"> -->
                            <h2 class="pb-2 border-bottom">Custom cards</h2>
                            <div class="row row-cols-md-2 row-cols-lg-3 row-cols-xl-4 align-items-stretch g-4 py-5">
                                <div class="col">
                                    <div class="card card-cover h-100 overflow-hidden bg-light-success rounded-5 shadow-lg">
                                        <div class="card-header border-0 bg-light-success d-flex justify-content-between text-success">
                                            <i class="fas fa-user fa-fw me-1"></i>
                                            <small>Admin</small>
                                            <div class="d-flex justify-content-between gap-4">
                                                <div class="dropdown no-arrow">
                                                    <a class="dropdown-toggle text-success" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in bg-light" aria-labelledby="dropdownMenuLink">
                                                        <a class="dropdown-item text-muted" href="#"><i class="fas fa-pen mx-2"></i>Edit</a>
                                                        <a class="dropdown-item text-muted" href="#"><i class="fas fa-trash mx-2"></i>Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-column h-100 p-3 pb-3 text-success text-shadow-1">
                                            <h3 class="display-7 lh-1 fw-bold">Report "SkillGroup Values" was update to v.1.1</h3>
                                            <ul class="d-flex list-unstyled mt-auto">
                                                <li class="me-auto">
                                                    <i class="fas fa-table fa-2xl"></i>
                                                </li>
                                                <li class="d-flex align-items-center me-3">
                                                    <i class="fas fa-user fa-fw me-1"></i>
                                                    <small>Admin</small>
                                                </li>
                                                <li class="d-flex align-items-center me-3">
                                                    <i class="fas fa-calendar-day fa-fw me-1"></i>
                                                    <small>3days</small>
                                                </li>
                                                <li class="d-flex align-items-center me-1">
                                                    <i class="fa-regular fa-comment fa-fw "></i>
                                                    <small>0</small>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card card-cover h-100 overflow-hidden text-white bg-light-danger rounded-5 shadow-lg">
                                        <div class="d-flex flex-column h-100 p-5 pb-3 text-danger text-shadow-1">
                                            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Much longer title that wraps to multiple lines</h2>
                                            <ul class="d-flex list-unstyled mt-auto">
                                                <li class="me-auto">
                                                    <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                                                </li>
                                                <li class="d-flex align-items-center me-3">
                                                    <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                                                    <small>Pakistan</small>
                                                </li>
                                                <li class="d-flex align-items-center">
                                                    <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                                                    <small>4d</small>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
                                        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                                            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Another longer title belongs here</h2>
                                            <ul class="d-flex list-unstyled mt-auto">
                                                <li class="me-auto">
                                                    <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                                                </li>
                                                <li class="d-flex align-items-center me-3">
                                                    <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                                                    <small>California</small>
                                                </li>
                                                <li class="d-flex align-items-center">
                                                    <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                                                    <small>5d</small>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-3.jpg');">
                                        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                                            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Another longer title belongs here</h2>
                                            <ul class="d-flex list-unstyled mt-auto">
                                                <li class="me-auto">
                                                    <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                                                </li>
                                                <li class="d-flex align-items-center me-3">
                                                    <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                                                    <small>California</small>
                                                </li>
                                                <li class="d-flex align-items-center">
                                                    <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                                                    <small>5d</small>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card card-cover h-100 overflow-hidden bg-light-success rounded-5 shadow-lg">
                                        <div class="card-header border-0 bg-light-success d-flex justify-content-between text-success">
                                            <i class="fas fa-user fa-fw me-1"></i>
                                            <small>Admin</small>
                                            <div class="d-flex justify-content-between gap-4">
                                                <div class="dropdown no-arrow">
                                                    <a class="dropdown-toggle text-success" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in bg-light" aria-labelledby="dropdownMenuLink">
                                                        <a class="dropdown-item text-muted" href="#"><i class="fas fa-pen mx-2"></i>Edit</a>
                                                        <a class="dropdown-item text-muted" href="#"><i class="fas fa-trash mx-2"></i>Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-column h-100 p-5 pb-3 text-success text-shadow-1">
                                            <h3 class="mb-4 display-6 lh-1 fw-bold">Report "SkillGroup Values" was update to v.1.1</h3>
                                            <ul class="d-flex list-unstyled mt-auto">
                                                <li class="me-auto">
                                                    <i class="fas fa-table fa-2xl"></i>
                                                </li>
                                                <li class="d-flex align-items-center me-3">
                                                    <i class="fas fa-user fa-fw me-1"></i>
                                                    <small>Admin</small>
                                                </li>
                                                <li class="d-flex align-items-center me-3">
                                                    <i class="fas fa-calendar-day fa-fw me-1"></i>
                                                    <small>3days</small>
                                                </li>
                                                <li class="d-flex align-items-center me-1">
                                                    <i class="fa-regular fa-comment fa-fw "></i>
                                                    <small>0</small>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
<!--                         </div> -->


                            <div class="row pt-4 mx-3 gx-4 d-flex align-items-stretch">
                                {% for n in news %}
                                <div class="col-lg-3 col-md-6 pb-md-3 pb-sm-4">
                                    <div class="card shadow hoverable index-card-custom rounded border-1 border-left-{{n.state}}">
                                        <div class="card-header">
                                            <span class="text-{{n.state}} fw-bold"><i class="fa-solid fa-newspaper me-1"></i>{{ n.title }}</span>
                                        </div>
                                        <div class="card-body text-muted">
                                            <div class="d-flex flex-column">
                                                <!-- <div class="pb-3"> -->
                                                    <p>{{ n.text }}</p>
                                                    <a href="/news/{{ forloop.counter }}" class="stretched-link"></a>
                                                <!-- </div> -->
                                            </div>
                                        </div>
                                        <div class="card-footer small text-muted text-end">
                                            <span>Updated {{ n.date }} by <strong> {{ n.author }} </strong></span>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="row pt-4 mx-3 gx-4 d-flex align-items-stretch">
                                {% for article in articles %}
                                <div class="col-lg-3 col-md-6 pb-md-3 pb-sm-4">
                                    <div class="card shadow hoverable index-card-custom rounded border-1 border-left-primary">
                                        <div class="card-header">
                                            <span class="text-{{n.state}} fw-bold"><i class="fa-solid fa-newspaper me-1"></i>{{ article.title }}</span>
                                        </div>
                                        <div class="card-body text-muted">
                                            <div class="d-flex flex-column">
                                                <!-- <div class="pb-3"> -->
                                                    <p>{{ article.anouncement }}</p>
                                                    <a href="/news/{{ article.get_absolute_url }}" class="stretched-link"></a>
                                                <!-- </div> -->
                                            </div>
                                        </div>
                                        <div class="card-footer small text-muted text-end">
                                            <span>Updated by <strong>{{ article.author }}</strong></span>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                    </div>
                </main>

{% include 'main/footer.html' %}
{% include 'main/scripts.html' %}

</body>

</html>