{% load static %}

{% include 'main/header.html' %}
<body class="sb-nav-fixed">
    {% include 'main/navbar-top.html' %}
        <div id="layoutSidenav">
            {% include 'main/sidebar.html' %}
            <div id="layoutSidenav_content">
                <main>
                    <!-- Write your web page content here -->
                    <div class="container-fluid px-4">
                        <div class="row rounded shadow-sm my-3" style="background-color: #f8f9fc;">
                            <div class="col-12">
                                <div class="d-flex justify-content-end my-2 me-3">
                                    <form method="POST">
                                        {% csrf_token %}
                                        <div class="row align-items-center">
                                            <div class="col">
<!--                                                 <button type="submit" class="btn btn-light-primary fw-bolder"><i class="fas fa-filter fa-fw fa-xs me-1"></i>Filter</button> -->
                                                <div class="input-group">
                                                    <select class="form-select" name="category_filter">
                                                        <option value="0">All categories</option>
                                                        {% for category in category_list %}
                                                            <option value="{{ category }}">{{ category }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <select class="form-select" name="author_filter">
                                                        <option value="0">All authors</option>
                                                        {% for author in author_list %}
                                                            <option value="{{ author.id }}"{% if selected == author.id %} selected {% endif %} >{{ author }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <button type="submit" class="btn btn-light-primary fw-bolder"><i class="fas fa-filter fa-fw fa-xs me-1"></i>Filter</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!--begin::From DB-->
                        <!--begin::Row-->
                        <div class="row g-4 g-xl-8 pb-3">
                            {% for article in articles %}
                            <div class="col-xl-3">
                                <a href="#" class="card {% if article.category == 'R' %} bg-custom-success {% elif article.category == 'DIVR' %} bg-custom-danger
                                                    {% elif article.category == 'G' %} bg-custom-info {% elif article.category == 'C' %} bg-custom-primary {% endif %} light-hoverable card-xl-stretch mb-xl-8 border-0" style="text-decoration: none;">
                                    <!--begin::Body-->
                                    <div class="card-body">
                                        <div class="d-flex border-0 justify-content-between text-white">
                                            <div class="d-flex">
                                                {% if article.category == 'R' %} <i class="fas fa-table fa-2xl"></i> {% elif article.category == 'DIVR' %} <i class="fas fa-chart-line fa-2xl"></i>
                                                    {% elif article.category == 'G' %} <i class="fas fa-rss fa-2xl"></i> {% elif article.category == 'C' %} <i class="fas fa-route fa-2xl"></i> {% endif %}
                                            </div>
                                            <div class="d-flex">
                                                {{ article.category }}
                                            </div>
                                        </div>
                                        <div class="text-white fw-bolder fs-2 mb-2 mt-4">{{ article.title }}</div>
                                        <div class="fw-bold text-white">{{ article.shortanouncement }}</div>
                                        <div class="d-flex text-white align-items-end justify-content-end pt-3">
                                            <ul class="d-flex justify-content-end list-unstyled mt-auto">
                                                <li class="d-flex align-items-center me-3">
                                                    <i class="fas fa-user fa-fw me-1"></i>
                                                    <small>{{ article.author }}</small>
                                                </li>
                                                <li class="d-flex align-items-center me-3">
                                                    <i class="fas fa-calendar-day fa-fw me-1"></i>
                                                    <small>{{ article.date|timesince:currentdatetime }}</small>
                                                    <!--  <small>3days</small> datebetween -->
                                                </li>
                                                <li class="d-flex align-items-center me-1">
                                                    <i class="fa-regular fa-comment fa-fw "></i>
                                                    <small>{{ article.generatecommentcount }}</small>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--end::Body-->
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                        <!--end::Row-->
                        <!--end::From DB-->
                    </div>
                </main>

{% include 'main/footer.html' %}
{% include 'main/scripts.html' %}

</body>

</html>